.idea
*.terraform
.DS_Store
/build/*
npm-debug.log
webpack-assets.json
bundle-stats.json
static/dist
/src/
webpack/**
coverage
*.env
.vscode/
/.babelrc
/.eslintrc
/.eslintignore
/.editorconfig
/.gitignore
/.travis.yml
/karma.conf.js
/Makefile
/pre-commit
/PULL_REQUEST_TEMPLATE.md
